spring:
  application:
    name: booking-service
  mvc:
    converters:
      preferred-json-mapper: jackson
  datasource:
    url: jdbc:h2:mem:booking;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:19092
      bindings:
        bookings-out-0:
          destination: bookings
          content-type: application/json

server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
